[mysqld]
host_cache_size=0
skip-name-resolve
SET GLOBAL local_infile=1;
bind-address    = 0.0.0.0
echo "GRANT ALL ON *.* TO root@‘%’ IDENTIFIED BY ‘rootpass' WITH GRANT OPTION; FLUSH PRIVILEGES" | mysql -u root -p